// .App {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   color: white;
// }

.slides img {
  position: relative;
  left: 15%;
  height: 70vh;
  width: 50vw;

  @media screen and (max-width: 800px) {
    height: 50vh;
    width: 60vw;
  }
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  background-color: black;
  top: 20%;
  left: 0%;
  z-index: 1;
}

.slides {
  position: relative;
  width: 100%;
  //padding-bottom: 20px;
  @media screen and (max-width: 800px) {
    height: fit-content;
  }
}

.slick-dots {
  position: absolute;
  bottom: 20%;
  right: 45%;
  //z-index: 1;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 95%;

  margin-left: 45%;
  background: transparent;
  color: black;
  // z-index: 9;
}

.slides .slick-prev {
  left: 15%;

  @media screen and (max-width: 800px) {
    left: 25%;
  }
}

.slides .slick-next {
  left: 25%;

  @media screen and (max-width: 800px) {
    left: 35%;
  }
}

.text {
  position: absolute;
  color: black;

  top: 2%;
  left: 64%;

  height: 60vh;
  font-size: 64px;

  z-index: 9;

  @media screen and (max-width: 800px) {
    font-size: 32px;
    margin-left: 40px;
  }
}
