// .App-header {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   color: white;
// }

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 20%;
  left: 0%;
  z-index: 1;
}

.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  left: 0%;
}

.slides .slick-next {
  left: 3%;
}
