.slides img {
  position: relative;
  left: 15%;
  width: 35vw;
  height: 95vh;
  z-index: 9;

  @media screen and (max-width: 800px) {
    width: 48vw;
    height: 60vh;
    left: 10%;
  }
}

.slides {
  position: relative;
  width: 100%;
  //padding-bottom: 20px;
  @media screen and (max-width: 800px) {
    height: fit-content;
  }
}

.slick-dots {
  position: absolute;
  bottom: 20%;
  right: 45%;
  //z-index: 1;
  @media screen and (max-width: 800px) {
    right: 35%;
  }
}

.text {
  position: absolute;
  color: black;
  height: 70vh;
  width: auto;

  top: 2%;
  left: 49%;

  font-size: 64px;

  z-index: 9;

  // @media screen and (max-width: 1280px) {
  //   left: 64%;
  //   width: 40%;
  // }

  @media screen and (max-width: 800px) {
    font-size: 32px;
    margin-left: 7%;
    // left: 67%;
    // width: 40%;
  }
}

.slick-arrow-left img {
  position: absolute;
  width: 3%;
  height: auto;
  top: 80%;
  left: 48%;
  z-index: 7;
  @media screen and (max-width: 800px) {
    left: 56%;
    width: 6%;
  }
}

.slick-arrow-right img {
  position: absolute;
  width: 3%;
  height: auto;
  top: 80%;
  left: 55%;
  z-index: 7;
  @media screen and (max-width: 800px) {
    left: 65%;
    width: 6%;
  }
}
