.slides {
  position: relative;
  width: 100%;
  //padding-bottom: 20px;
  @media screen and (max-width: 800px) {
    height: fit-content;
  }
}

.slides img {
  position: relative;
  left: 15%;
  width: 35vw;
  height: 100%;
  z-index: 9;

  @media screen and (max-width: 800px) {
    width: 48vw;
    height: 60vh;
    left: 15%;
  }
}

// .slick-dots {
//   position: absolute;

//   //background-image: url("../../assets/bars.svg");
//   bottom: 20%;
//   right: 45%;
//   //z-index: 1;
//   @media screen and (max-width: 800px) {
//     right: 35%;
//   }

.append {
  position: absolute;
  bottom: 16rem;
  left: 0%;
  height: 20px;
  @media screen and (max-width: 800px) {
    width: 5px;
    //left: 0%;
    height: 5px;
  }
}

.fill {
  color: black;
}

.label {
  position: absolute;
  top: 70%;
  left: 5%;
}

// .slick-dots.slick-thumb {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
// }

// .slick-dots.slick-thumb div {
//   width: 6px;
//   height: 6px;
//   margin: 0 3px;
//   border-radius: 999px;
//   transition: all 0.5s ease-in-out;
//   will-change: width;
//   background-color: black;
// }

// .slick-dots.slick-thumb div.slick-active {
//   background-color: red;
//   width: 24px;
// }

.text {
  position: absolute;
  color: black;
  height: 70vh;
  width: auto;

  top: 2%;
  left: 49%;

  font-size: 64px;

  z-index: 9;

  // @media screen and (max-width: 1280px) {
  //   left: 64%;
  //   width: 40%;
  // }

  @media screen and (max-width: 800px) {
    font-size: 32px;
    margin-left: 12%;
    // left: 67%;
    // width: 40%;
  }
}

.slick-arrow-left img {
  position: absolute;
  width: 3%;
  height: auto;
  top: 70%;
  left: 48%;
  z-index: 7;
  @media screen and (max-width: 800px) {
    left: 56%;
    width: 6%;
  }
}

.slick-arrow-right img {
  position: absolute;
  width: 3%;
  height: auto;
  top: 70%;
  left: 55%;
  z-index: 7;
  @media screen and (max-width: 800px) {
    left: 65%;
    width: 6%;
  }
}
