.slides {
  position: relative;
  //top: 15%;
  // height: auto;
  width: auto;
  //padding-bottom: 20px;
  @media screen and (max-width: 800px) {
    height: fit-content;
  }
}

.slides img {
  position: relative;
  margin-top: 3%;
  left: 15%;
  width: 35vw;
  height: 100%;
  z-index: 9;

  @media screen and (max-width: 800px) {
    width: 47vw;
    height: 100%;
    left: 15%;
  }
}

// .slick-dots {
//   position: absolute;

//   //background-image: url("../../assets/bars.svg");
//   bottom: 20%;
//   right: 45%;
//   //z-index: 1;
//   @media screen and (max-width: 800px) {
//     right: 35%;
//   }

.append {
  position: absolute;
  bottom: 16rem;
  left: 0%;
  height: 20px;
  @media screen and (max-width: 800px) {
    //width: 5px;
    left: 10%;
    padding-top: 25rem;
    bottom: 45%;
    height: 15px;
    //display: block;
  }
}

.slick-dots {
  position: absolute;
  bottom: -10px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.ft-slick__dots--custom {
  height: 8px;
  width: 14px;
  background-color: black;
  // #e5e7e9;
  border-radius: 4px;
  //border-spacing: 15px;
  position: relative;
}

.slick-dots li {
  width: 10px;

  transition: width 0.3s ease-in-out;
}

.slick-dots .slick-active {
  width: 20px;

  transition: width 0.3s ease-in-out;
}

.slick-dots .slick-active .ft-slick__dots--custom {
  width: 40px;

  top: 0px;
  overflow: clip;

  .loading {
    height: 10px;
    animation: loading 5s ease-in;
    background-image: linear-gradient(270deg, #f06262, #ed3b3b);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
  }

  @keyframes loading {
    from {
      width: 0%;
    }

    to {
      width: 100%;
    }
  }
}

.label {
  position: absolute;
  top: 70%;
  left: 5%;
}

.text {
  position: absolute;
  color: black;
  height: 70vh;
  width: auto;
  letter-spacing: 3px;
  top: 10%;
  left: 49%;

  font-size: 58px;
  font-style: normal;

  z-index: 9;

  // @media screen and (max-width: 1280px) {
  //   left: 64%;
  //   width: 40%;
  // }

  @media screen and (max-width: 800px) {
    font-size: 28px;
    margin-left: 12%;
  }
}

.slick-arrow-left img {
  position: absolute;
  width: 3%;
  height: auto;
  top: 70%;
  left: 48%;
  z-index: 7;
  @media screen and (max-width: 800px) {
    left: 56%;
    width: 6%;
  }
}

.slick-arrow-right img {
  position: absolute;
  width: 3%;
  height: auto;
  top: 70%;
  left: 55%;
  z-index: 7;
  @media screen and (max-width: 800px) {
    left: 65%;
    width: 6%;
  }
}
